<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><%= t('app_name').upcase %></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><%= link_to t('hdr_home'), static_pages_home_url, class: "nav-link active" %></li>
            <li class="nav-item"><%= link_to t('hdr_help'), static_pages_help_url, class: "nav-link active" %></li>
            <% if logged_in? %>
              <li class="nav-item"><%= link_to "Users", '#', class: "nav-link active" %></li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", '#' %></li>
                  <li class="divider"></li>
                  <li class="nav-item">
                    <%= link_to t('hdr_logout'), logout_path, method: "delete", class: "nav-link active" %>
                  </li>
                </ul>
              </li>
               <li class="nav-item">
                    <%= link_to t('hdr_logout'), logout_path, method: "delete", class: "nav-link active" %>
                  </li>
            <% else %>
              <li class="nav-item"><%= link_to t('hdr_login'), login_path, class: "nav-link active" %></li>
            <% end %>
          </ul>
          <form class="d-flex">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
</header>
